<div class="row" style="margin-top: 10px;">
    <div id="expenses-sum" class="summary-box col-md-4 text-center">
        <div class="summary-val">$2,500,000</div>

        <div class="summary-value"><%= number_to_currency @expenses_sum, precision: 0 %></div>
        <div class="summary-label">Total</div>
    </diV>
    <div id="expenses-count" class="summary-box col-md-4 text-center">
        <div class="summary-value"><%= @expenses.count %></div>
        <div class="summary-label">Transactions</div>
    </div>
    <div id="expenses-avg" class="summary-box col-md-4 text-center">
        <div class="summary-val">$1,000,000</div>

        <div class="summary-value"><%= number_to_currency @expenses_avg, precision: 0 %></div>
        <div class="summary-label">Average</div>
    </div>
</div>

